html{
    font-size: 62.5%;
}

body{
    background-color: var(--primary-dark);
    background-image: url(../images/bg-desktop.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.container{
    max-width: 130rem;
    margin: 2rem 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container .header img{
    margin-top: 2rem;
    height: 4rem;
}

.content-container{
    margin-top: 2rem;
    display: flex;
    gap: 5rem;
    /* flex-wrap: wrap; */
}

.description{
    padding-top: 4rem;
    max-width: 50rem;
    font-family: 'Poppins', sans-serif;
}

.description h1{
    font-size: 4rem;
    margin-bottom: 1.7rem;
}

.description p{
    font-size: 1.6rem;
    opacity: 0.8;
    margin-bottom: 3.5rem;
}

.btn-register{
    padding: 15px 60px;
    color: var(--primary-dark);
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0px 3px 8px 1px #1d1c1c;
    font-size: 16px;
}

.btn-register:hover{
    background-color: var(--primary-soft);
    color: #ffffff;
}

address .social-media{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    
}

address .social-media a{
    color: #fff;
    border: 1px solid #fff;
    padding: 5px;
    border-radius: 50%;
    display: inline-block;
    font-size: 15px;
    height: 32px;
    width: 32px;
    text-align: center;
}

address .social-media a:hover{
    color: var(--primary-soft);
    border-color: inherit;
}

@media(max-width: 1200px){

    body{
        background-image: url(../images/bg-mobile.svg);
    }

    .container .header img{
        height: 3.3rem;
    }

    .container .content-container{
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        gap: 0;
    }

    .container .content-container img{
        padding: 4rem 0 3rem;
    }

    .container .content-container h1{
        font-size: 2.5rem;
    }

    .container .content-container .btn-register{
        font-size: 1.4rem;
        padding: 10px 75px;
    }

    address .social-media{
        margin-top: 8rem;
        justify-content: center;
    }

    @media(min-width: 600px){
        .container .content-container h1{
            font-size: 4rem;
        }
    }
}

/* .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); } */